<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQLServer" providerName="System.Data.SqlClient" connectionString="Data Source=DÉLIO-PC\SQLEXPRESS; Initial Catalog=Restaurant; Trusted_Connection=Yes"  />
    <add name="SQLite" providerName="System.Data.SqlClient" connectionString="Data Source=.\Restaurant.db; Version=3"  />
  </connectionStrings>
</configuration>
